font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

body {
  margin: 0; 
  font-weight: 500;
  text-align: center;
   -webkit-text-size-adjust: none;
}

* {
  box-sizing: border-box; 
}

nav{
  top:0;
  position:relative;
}

table {
  font-family: Raleway;
  font-size: 15px;
}


section {
  margin: 0;
  text-align:center;
}

image{
  width: 100%;
}

ul{
  font-family: Raleway;
  font-size: 15px;
  color: black;
  font-family: 'Open Sans';
}

p {
  font-size: 15px;
  color: black;
  font-family: 'Open Sans';
}

td{
  vertical-align: top;
}

button, input[type="submit"], input[type="reset"] {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Nav Bar */

#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:absolute;
  text-align:center;
  left:0;
  right:0px;
  bottom:0px;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  bottom:0;
  cursor:pointer   
}

#menu img{
    width:30%;
  }

.container {
    display: inline-block;
    cursor: pointer;
    width:50px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#nav-button{
  z-index:200;
  position:fixed;
  top:0;
  width:40px;
  padding:30px;
  left:10px;
  cursor:pointer;
  margin: 0 auto; 
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Sections */

#HomeText{
  top:0px;
  height: 100vh;
  width:100vw;
  position: relative;
  text-align:center;
  background:rgba(255,255,255,.5);
}

#particles{
  position: absolute;
  top:0;
  width:100%;
  height:100vh;
  background:gainsboro;
  text-align:center;
}


#logo{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  width:35%;
  min-width:300px;
}

.details{
  margin:10;
  padding:20px;
  max-width:50%;
  left: 50%;
  top:40%;
  min-width:350px;
  transform: translate(-50%, -40%);
  padding-left:40px;
  font-family:Raleway;
  text-align:left;
  position:absolute;
}

.background-image-right{
  max-width:50%;
  opacity:0.5;
  z-index:-100;
  right:10px;
  bottom:0;
  position:relative;
}

.background-image-left{
  max-width:40%;
  opacity:0.5;
  z-index:-100;
  left:0;
  bottom:0;
  padding:40px;
  position:absolute;
}

.link{
  text-align:center;
  font-size: 20px;
  font-family: Raleway;
}

.Title{
  font-size:6.2em;
  font-weight:500;
  font-family: Raleway;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
  top:0;
}

/*FADING QUERY*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*MEDIA QUERY*/
@media only screen and (max-width : 680px) {

  header {
    position: absolute;
  }

  #menu{
    position:fixed;
    top:20;
  }

  #menu ul, nav:active ul { 
    position: fixed;
    padding-top: 30px;
    background: #fff;
    border: 5px solid gainsboro;
    right: 20px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
    z-index:300;
  }

  #menu li {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0;
    background: rgba(255,255,255, 1);
    border: 0.5px;
  }

  #menu:hover ul {
    display: block;
  }

  .menu-image{
    display: none;
  }

#particles{
  display:none;
  }

#HomeText{
  background:WhiteSmoke;
}

.Title{
  font-size: 2em; 
  top:0;
  position:absolute;
}

.null{
  visibility: visible;
}